<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZUES｜home</title>
    <script src="js/jquery_3.6.0.js"></script>
    <script src="js/swipeslider.js"></script>
    <script src="js/vue_3.2.19.js"></script>
    <link rel="stylesheet" href="scss/home.css">
</head>

<body>
    <div class="mainLayout" id="main">
        <!-- gameSel -->
        <div class="gameSel">
            <iframe src="https://www.youtube.com/embed/zSM4PJ_g_BU?autoplay=1&loop=1&mute=1&controls=0&playsinline=1"></iframe>
            <div class="list">
                <ul>
                    <li>Home</li>
                    <li>Casino</li>
                    <li>Sports</li>
                    <li>Slot</li>
                    <li>4D</li>
                    <li>VIP</li>
                    <li>Zues Mall</li>
                    <li>Leader Board</li>
                </ul>
            </div>

            <!-- hotgame -->
            <div class="hotgame">
                <div class="item">
                    <div class="title">
                        <div class="icon">
                            <img src="images/icons/hot.webp">
                        </div>
                        <p>Hot Live Game</p>
                    </div>
                    <div id="carousel2" class="gameCarousel">
                        <ul class="sw-slides">
                            <template v-for="(item,index) in carousel">
                                <li class="sw-slide">
                                    <img :src="item.img">
                                </li>
                            </template>
                        </ul>
                    </div>
                </div>
                <div class="item">
                    <div class="title">
                        <div class="icon">
                            <img src="images/icons/hot.webp">
                        </div>
                        <p>Hot Slot Game</p>
                    </div>
                    <div id="carousel" class="gameCarousel">
                        <ul class="sw-slides">
                            <template v-for="(item,index) in carousel">
                                <li class="sw-slide">
                                    <img :src="item.img">
                                </li>
                            </template>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- trade -->
        <div class="trade">
            <div class="title">LIVE TRANSACTION</div>
            <div class="sheet">
                <table>
                    <tr>
                        <th width="25%">DEPOSIT</th>
                        <th width="25%">ID</th>
                        <th width="25%">WITHDRAWAL</th>
                        <th width="25%">ID</th>
                    </tr>
                    <template v-for="(item,index) in 2">
                        <tr>
                            <td><span>DEPOSIT</span>2,5678.04</td>
                            <td><span>ID</span>xxxx9678</td>
                            <td><span>WITHDRAWAL</span>2,5678.04</td>
                            <td><span>ID</span>xxxx9678</td>
                        </tr>
                        <tr>
                            <td><span>DEPOSIT</span>1234.99</td>
                            <td><span>ID</span>xxxx0123</td>
                            <td><span>WITHDRAWAL</span>1234.99</td>
                            <td><span>ID</span>xxxx0123</td>
                        </tr>
                    </template>
                </table>
            </div>
        </div>

        <!-- season -->
        <div class="season">
            <div class="title">Upcoming Events</div>
            <div class="seasonShow">
                <div class="arrow left" @click="seasonTomove(1)"></div>
                <div class="list">
                    <ul :style="{'--num':seasonList.length}" :class="{'only': seasonList.length == 1}">
                        <li v-for="(item,index) in seasonList" :id="index" :class="{'only': seasonList.length == 1}">
                            <div class="card">
                                <div class="tip">Support your team</div>
                                <table>
                                    <tr class="layoutShow">
                                        <td colspan="3">
                                            <div class="date">{{item.date}}</div>
                                            <div class="time">{{item.time}}</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="30%">
                                            <div class="teamLogo">
                                                <img :src="item.team_home.logo">
                                            </div>
                                            <div class="minName">{{item.team_home.name}}</div>
                                        </td>
                                        <td width="30%">
                                            <div class="scoreDate">{{item.date}}</div>
                                            <div class="scoreTime">{{item.time}}</div>

                                            <div class="vs">VS</div>
                                        </td>
                                        <td width="30%">
                                            <div class="teamLogo">
                                                <img :src="item.team_away.logo">
                                            </div>
                                            <div class="minName">{{item.team_away.name}}</div>
                                        </td>
                                    </tr>
                                    <tr class="layoutHidden">
                                        <td>
                                            <div class="teamName">{{item.team_home.name}}</div>
                                        </td>
                                        <td>
                                            <div class="betBtn">Bet Now</div>
                                        </td>
                                        <td>
                                            <div class="teamName">{{item.team_away.name}}</div>
                                        </td>
                                    </tr>
                                    <tr class="full">
                                        <td colspan="3">
                                            <div class="oddsList">
                                                <div class="odds">
                                                    <div class="oddsNum">{{item.team_home.odds}}</div>
                                                    <p>Home</p>
                                                </div>
                                                <div class="odds">
                                                    <div class="oddsNum">{{item.hdp}}</div>
                                                    <p>HDP</p>
                                                </div>
                                                <div class="odds">
                                                    <div class="oddsNum">{{item.team_away.odds}}</div>
                                                    <p>Away</p>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr class="layoutShow">
                                        <td colspan="3">
                                            <div class="betBtn">Bet Now</div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="arrow" @click="seasonTomove(2)"></div>
            </div>
        </div>

        <!-- popular -->
        <div class="popular">
            <div class="title">
                <div class="inner">
                    <div class="icon">
                        <img src="images/icons/hot.webp">
                    </div>
                    <p>MOST POPULAR GAMES</p>
                </div> 
            </div>
            <div class="popularShow">
                <div class="arrow left" @click="popularTomove(1)"></div>
                <div class="list">
                    <ul>
                        <li v-for="(item,index) in popularList" :id="index">
                            <div class="card">
                                <div class="pic">
                                    <img :src="item.pic">
                                </div>
                                <div>
                                    <p>{{item.brand}}</p>
                                    <div class="type">{{item.type}}</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="arrow" @click="popularTomove(2)"></div>
            </div>
        </div>

        <!-- vodplay -->
        <div class="vodplay">
            <div class="showVod">
                <iframe :src="reVodUrl(vodList[vodSel].key)"></iframe>
            </div>
            <div class="vodList">
                <div class="arrow left" @click="vodTomove(1)"></div>
                <div class="list">
                    <ul>
                        <li v-for="(item,index) in vodList" :id="index" @click="vodSel = index" :class="{'on' : vodSel == index}">
                            <div class="card">
                                <div class="pic" :style="rebgi(item.pic)"></div>
                                <div class="txt">
                                    <p>{{item.name}}</p>
                                    <p>{{item.name_en}}</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="arrow" @click="vodTomove(2)"></div>
            </div>
        </div>

        <!-- toCinema -->
        <div class="toCinema">
            <a href="javascript:void(0);">
                <img src="images/other/poster.webp">
                <div class="title">
                    <img src="images/other/movie_title.webp">
                </div>
                <div class="play">
                    <img src="images/other/movie_play.webp">
                </div>
            </a>
        </div>

        <!-- footer -->
        <div class="footer"> 
            <div class="provider">
                <div class="title">
                    <span>Our Collabertion Provider</span>
                </div>
                <div class="list" :class="{'use': footer.provider.anUse}">
                    <ul>
                        <li v-for="(item, index) in footer.provider.list" :key="index">
                            <a :href="item.href == '' ? 'javascript:void(0);': item.href"  
                               :target="item.href == '' ? '': '_blank'">
                                <img :src="item.img">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="minorLink">
                <div class="item">
                    <div class="title">{{footer.license.title}}</div>
                    <div class="tip">{{footer.license.tip}}</div>
                    <div class="list" :class="{'use': footer.license.anUse}">
                        <ul>
                            <li v-for="(item, index) in footer.license.list" :key="index">
                                <a :href="item.href == '' ? 'javascript:void(0);': item.href"  
                                   :target="item.href == '' ? '': '_blank'">
                                    <img :src="item.img">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="item">
                    <div class="title">{{footer.cert.title}}</div>
                    <div class="list" :class="{'use': footer.cert.anUse}">
                        <ul>
                            <li v-for="(item, index) in footer.cert.list" :key="index">
                                <a :href="item.href == '' ? 'javascript:void(0);': item.href"  
                                   :target="item.href == '' ? '': '_blank'">
                                    <img :src="item.img">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="item">
                    <div class="title">{{footer.resp.title}}</div>
                    <div class="list" :class="{'use': footer.resp.anUse}">
                        <ul>
                            <li v-for="(item, index) in footer.resp.list" :key="index">
                                <a :href="item.href == '' ? 'javascript:void(0);': item.href"  
                                   :target="item.href == '' ? '': '_blank'">
                                    <img :src="item.img">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="item">
                    <div class="title">{{footer.follow.title}}</div>
                    <div class="list" :class="{'use': footer.follow.anUse}">
                        <ul>
                            <li v-for="(item, index) in footer.follow.list" :key="index">
                                <a :href="item.href == '' ? 'javascript:void(0);': item.href"  
                                   :target="item.href == '' ? '': '_blank'">
                                    <img :src="item.img">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="item">
                    <div class="title">{{footer.payment.title}}</div>
                    <div class="list" :class="{'use': footer.payment.anUse}">
                        <ul>
                            <li v-for="(item, index) in footer.payment.list" :key="index">
                                <a :href="item.href == '' ? 'javascript:void(0);': item.href"  
                                   :target="item.href == '' ? '': '_blank'">
                                    <img :src="item.img">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="item">
                    <div class="title">{{footer.browser.title}}</div>
                    <div class="list" :class="{'use': footer.browser.anUse}">
                        <ul>
                            <li v-for="(item, index) in footer.browser.list" :key="index">
                                <a :href="item.href == '' ? 'javascript:void(0);': item.href"  
                                   :target="item.href == '' ? '': '_blank'">
                                    <img :src="item.img">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="item">
                    <div class="title">{{footer.securtiy.title}}</div>
                    <div class="list" :class="{'use': footer.securtiy.anUse}">
                        <ul>
                            <li v-for="(item, index) in footer.securtiy.list" :key="index">
                                <a :href="item.href == '' ? 'javascript:void(0);': item.href"  
                                   :target="item.href == '' ? '': '_blank'">
                                    <img :src="item.img">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>    
            </div>

            <div class="txt">
                <div class="res" v-html="footer.res"></div>
                <div class="title" v-html="footer.title"></div>
                <template v-for="(item, index) in footer.desc" :key="index">
                    <p v-html="item" v-if="index <= showDesc"></p>
                </template>
                
                <div class="more" @click="addDesc()" v-if="showDesc < footer.desc.length-1"><span>See more</span></div>
            </div>
        </div>

         <!-- onlineNum -->
         <div class="onlineNum">
            <div class="title">
                <div class="lamp"></div>
                <div class="icon"></div>
                <p>Online User</p>
            </div>
            <div class="numList">
                <div class="item" v-for="(item,index) in online.show">
                    <ul :style="{'--num': item}">
                        <li v-for="num in 10">{{num -1}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script>
        Vue.createApp({
            data() {
                return {
                    carousel: [{
                        img: 'images/carousel/01.webp'
                    }, {
                        img: 'images/carousel/02.webp'
                    }, {
                        img: 'images/carousel/03.webp'
                    }],
                    seasonMove:0,
                    seasonList: [
                        {
                            date: '15/11/2023',
                            time: '13:00',
                            team_home: {
                                logo: 'images/logo/Yokohama_F_Marinos.webp',
                                name: 'Yokohama F Mari',
                                score: 2,
                                odds: 0.92
                            },
                            team_away: {
                                logo: 'images/logo/Consadole_Sapporo.webp',
                                name: 'Consadole Sapporo',
                                score: 0,
                                odds: 0.88
                            },
                            hdp: 0.7
                        },
                        {
                            date: '16/11/2023',
                            time: '08:30',
                            team_home: {
                                logo: 'images/logo/Sanfrecce_Hiroshima.webp',
                                name: 'Sanfrecce Hiroshima',
                                score: 1,
                                odds: 0.58
                            },
                            team_away: {
                                logo: 'images/logo/Consadole_Sapporo.webp',
                                name: 'Consadole Sapporo',
                                score: 1,
                                odds: 0.54
                            },
                            hdp: 0.4
                        },
                        {
                            date: '16/11/2023',
                            time: '11:00',
                            team_home: {
                                logo: 'images/logo/Sanfrecce_Hiroshima.webp',
                                name: 'Yokohama F Mari',
                                score: 0,
                                odds: 0.78
                            },
                            team_away: {
                                logo: 'images/logo/Yokohama_F_Marinos.webp',
                                name: 'Consadole Sapporo',
                                score: 1,
                                odds: 0.9
                            },
                            hdp: 0.81
                        },
                    ],
                    popularMove:0,
                    popularList:[
                        {
                            pic:'images/casino/casino1.webp',
                            brand:'Big Gaming',
                            type:'Casino'
                        },
                        {
                            pic:'images/casino/casino2.webp',
                            brand:'AE Sexy',
                            type:'Casino'
                        },
                        {
                            pic:'images/casino/casino3.webp',
                            brand:'Playtech',
                            type:'Casino'
                        },
                        {
                            pic:'images/casino/casino4.webp',
                            brand:'ALLBET',
                            type:'Casino'
                        },
                        {
                            pic:'images/casino/casino5.webp',
                            brand:'VIVO Gaming',
                            type:'Casino'
                        },
                        {
                            pic:'images/casino/casino6.webp',
                            brand:'Evolution',
                            type:'Casino'
                        },
                        
                    ],          
                    showDesc: 0,
                    footer: {
                        provider:{
                            anUse: true,
                            list:[
                                {href:'',img:'images/logo/provider/918kiss.webp'},
                                {href:'',img:'images/logo/provider/ace333.webp'},
                                {href:'',img:'images/logo/provider/AE_sexy.webp'},
                                {href:'',img:'images/logo/provider/allbet.webp'},
                                {href:'',img:'images/logo/provider/asia_gaming.webp'},
                                {href:'',img:'images/logo/provider/big_gaming.webp'},
                                {href:'',img:'images/logo/provider/dragoon_soft.webp'},
                                {href:'',img:'images/logo/provider/dream_gaming.webp'},
                                {href:'',img:'images/logo/provider/evolution.webp'},
                                {href:'',img:'images/logo/provider/jili.webp'},
                                {href:'',img:'images/logo/provider/joker.webp'},
                                {href:'',img:'images/logo/provider/king855.webp'},
                                {href:'',img:'images/logo/provider/lucky365.webp'},
                                {href:'',img:'images/logo/provider/m8bet.webp'},
                                {href:'',img:'images/logo/provider/playtech.webp'},
                                {href:'',img:'images/logo/provider/pragmatic_play.webp'},
                                {href:'',img:'images/logo/provider/pussy888.webp'},
                                {href:'',img:'images/logo/provider/sbobet.webp'},
                                {href:'',img:'images/logo/provider/xe88.webp'},
                                {href:'',img:'images/logo/provider/ib_bet.webp'},
                            ]
                        },
                        license:{
                            title: 'Game License',
                            tip: 'The online gaming industry is constantly growing, and now is the perfect time to launch your gaming platform. ZUES provides professional assistance in obtaining a gaming license, ensuring a ready-made solution for starting and legalizing a business in the gaming industry.',
                            anUse: true,
                            list:[
                                {href:'',img:'images/logo/license/antillephone.webp'},
                                {href:'',img:'images/logo/license/aware.webp'},
                                {href:'',img:'images/logo/license/gc.webp'},
                                {href:'',img:'images/logo/license/pagcor.webp'},
                                {href:'',img:'images/logo/license/xnext.webp'}
                            ]
                        },
                        cert:{
                            title: 'Cerfitictate',
                            anUse: false,
                            list:[
                                {href:'',img:'images/logo/cert/bmm.svg'},
                                {href:'',img:'images/logo/cert/godaddy.svg'},
                                {href:'',img:'images/logo/cert/itech.svg'},
                                {href:'',img:'images/logo/cert/reco_cert.svg'}
                            ]
                        },
                        resp:{
                            title: 'Responsible Gaming',
                            anUse: false,
                            list:[
                                {href:'',img:'images/logo/resp/18+.svg'},
                                {href:'',img:'images/logo/resp/begambleaware.svg'},
                                {href:'',img:'images/logo/resp/gamcare.svg'}
                            ]
                        },
                        follow:{
                            title: 'Follow Us',
                            anUse: true,
                            list:[
                                {href:'',img:'images/logo/follow/fb.svg'},
                                {href:'',img:'images/logo/follow/instagram.svg'},
                                {href:'',img:'images/logo/follow/twitter.svg'},
                                {href:'',img:'images/logo/follow/youtube.svg'}
                            ]
                        },
                        payment:{
                            title: 'Payment Method',
                            anUse: true,
                            list:[
                                {href:'',img:'images/logo/payment/bitcoin.svg'},
                                {href:'',img:'images/logo/payment/duit_now.webp'},
                                {href:'',img:'images/logo/payment/ethereum.svg'},
                                {href:'',img:'images/logo/payment/fpx.svg'},
                                {href:'',img:'images/logo/payment/grabpay.webp'},
                                {href:'',img:'images/logo/payment/master_card.svg'},
                                {href:'',img:'images/logo/payment/TouchNGo.svg'},
                                {href:'',img:'images/logo/payment/USDT.svg'},
                                {href:'',img:'images/logo/payment/visa.svg'}
                            ]
                        },
                        browser:{
                            title: 'Suggest Browser',
                            anUse: true,
                            list:[
                                {href:'',img:'images/logo/browser/chrome.webp'},
                                {href:'',img:'images/logo/browser/edge.webp'},
                                {href:'',img:'images/logo/browser/firefox.webp'},
                                {href:'',img:'images/logo/browser/safari.webp'}
                            ]
                        },
                        securtiy:{
                            title: 'Securtiy',
                            anUse: true,
                            list:[
                                {href:'',img:'images/logo/securtiy/iovation.webp'},
                                {href:'',img:'images/logo/securtiy/threatmetrix.webp'}
                            ]
                        },
                        res: '<strong>© 2024 ZUES.All Rights Reserved.</strong>',
                        title: 'Trusted Online Casino Malaysia 2023 - ZUES',
                        desc:[
                            'Trusted Online Casino Malaysia 2023 - ZUES<br><strong>Online Casino Malaysia</strong> has evolved drastically in the last few years. It has been drawing comparisons from the Western countries. <strong>ZUES</strong>, an <strong>online casino Malaysia</strong> has become the most trusted online gambling platform for bettors. We have emerged as a top choice of casino games for all Malaysians. We offer a wide range of games as much as you can expect from any top operator in the country.',

                            'At our online casino in Malaysia, you can play live poker games in mobile, online roulette, and live casino games. These are easy to play, and you can also check out our best online sport betting and e-sports betting at our site with the most competitive odds to consider. If you crave for slot games, don’t worry, we have it too for you. In short, <strong>ZUES</strong> is compatible with mobile and desktop versions whether its an iOS or Android OS mobile device.'
                        ]
                    },
                    vodSel:0,
                    vodMove:0,
                    vodList:[
                        {
                            key:'JWYNptUogU8',
                            pic:'images/vod/01.webp',
                            name :'慢慢做起来',
                            name_en :'Do it slowly'
                        },
                        {
                            key:'778oM7Vs5_o',
                            pic:'images/vod/02.webp',
                            name :'五百',
                            name_en :'Wu Bai'
                        },
                        {
                            key:'MGhM4lxlewI',
                            pic:'images/vod/03.webp',
                            name :'千千万万个我',
                            name_en :'We are everyone'
                        },
                        {
                            key:'EFFuyl1Lu64',
                            pic:'images/vod/04.webp',
                            name :'笑着回家',
                            name_en :'Go home with a smile'
                        },
                        {
                            key:'VmdHdDPt1NM',
                            pic:'images/vod/05.webp',
                            name :'鬼岛',
                            name_en :'Ghost island'
                        },
                        {
                            key:'PNrFhR7CGYE',
                            pic:'images/vod/06.webp',
                            name :'二十楼',
                            name_en :'20th floor'
                        },
                        {
                            key:'-Rp7UPbhErE',
                            pic:'images/vod/07.webp',
                            name :'玻璃心',
                            name_en :'Glass heart'
                        },
                        {
                            key:'wEXeFdcFedI',
                            pic:'images/vod/08.webp',
                            name :'夜雾',
                            name_en :'Night fog'
                        },
                    ],
                    online:{
                        num: 100,
                        show: [0,0,1,0,0]
                    }
                };
            },
            methods: {
                seasonTomove(type) {
                    let winW = document.body.clientWidth;
                    let max = winW <= 1000 ? this.seasonList.length - 1 : this.seasonList.length - 2;
                    if (type == 1) {
                        this.seasonMove = this.seasonMove > 0 ? this.seasonMove - 1 : 0;
                    } else if (type == 2) {
                        this.seasonMove = this.seasonMove < max ? this.seasonMove + 1 : max;
                    }

                    document.querySelectorAll('.seasonShow li').forEach(item => {
                        item.style.transform = `translateX(-${this.seasonMove * 100}%)`
                    })
                },
                popularTomove(type) {
                    let winW = document.body.clientWidth;
                    let max;
                    if(winW > 900){
                        max = this.popularList.length - 5;
                    }else if(winW <= 900 && winW > 700){
                        max = this.popularList.length - 4;
                    }else if(winW <= 700 && winW > 490){
                        max = this.popularList.length - 3;
                    }else{
                        max = this.popularList.length - 2;
                    }

                    if (type == 1) {
                        this.popularMove = this.popularMove > 0 ? this.popularMove - 1 : 0;
                    } else if (type == 2) {
                        this.popularMove = this.popularMove < max ? this.popularMove + 1 : max;
                    }

                    document.querySelectorAll('.popularShow li').forEach(item => {
                        item.style.transform = `translateX(-${this.popularMove * 100}%)`
                    })
                },
                vodTomove(type) {
                    let winW = document.body.clientWidth;
                    let max;
                    if(winW > 950){
                        max = this.vodList.length - 4;
                    }else if(winW <= 950 && winW > 780){
                        max = this.vodList.length - 3;
                    }else{
                        max = this.vodList.length - 2;
                    }

                    if (type == 1) {
                        this.vodMove = this.vodMove > 0 ? this.vodMove - 1 : 0;
                    } else if (type == 2) {
                        this.vodMove = this.vodMove < max ? this.vodMove + 1 : max;
                    }

                    document.querySelectorAll('.vodList li').forEach(item => {
                        item.style.transform = `translateX(-${this.vodMove * 100}%)`
                    })
                },
                resize(){
                    this.seasonMove = 0;
                    document.querySelectorAll('.seasonShow li').forEach(item => {
                        item.style.transform = `translateX(-${this.seasonMove * 100}%)`
                    })
                    this.popularMove = 0;
                    document.querySelectorAll('.popularShow li').forEach(item => {
                        item.style.transform = `translateX(-${this.popularMove * 100}%)`
                    })

                    this.vodMove = 0;
                    document.querySelectorAll('.vodList li').forEach(item => {
                        item.style.transform = `translateX(-${this.vodMove * 100}%)`
                    })
                },
                addDesc(){
                    let max = this.footer.desc.length - 1;
                    this.showDesc = this.showDesc >= max ? max : this.showDesc+1;
                },
                reVodUrl(key){
                    return `https://www.youtube.com/embed/${key}?autoplay=1&loop=1&mute=1&controls=0&playsinline=1`;
                },
                rebgi(src){
                    return `background-image: url(${src})`;
                },
                
            },  
            mounted() {
                // 啟動輪播
                $('#carousel').swipeslider();
                $('#carousel2').swipeslider();

                window.addEventListener('resize', this.resize);

                setInterval(()=>{
                    let ran = Math.floor(Math.random() * 1001) - 500;
                    this.online.num =  this.online.num + ran <= 100 ? 100 : this.online.num + ran;        
                    let numArray = this.online.num.toString().split('').map(Number);
                    let arr = Array.from({ length: 5 }, (_, index) => numArray[numArray.length - 5 + index] || 0);

                    for(let i = 0; i<arr.length; i++){
                        this.online.show[i] = arr[i];
                    }
                },1000)
            },
        }).mount("#main");
    </script>
</body>

</html>